{% load static %}
<div class="col-md-4">
    <div class="card">
        {% if product.image %}
        <img class="card-img-top product-img" src="{{product.image.url}}" alt="{{product.name}}">
        {% else %}
        <img class="card-img-top product-img" src="{% static 'images/default_product.jpg' %}" alt="{{product.name}}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-decoration-none" href="{% url 'product_detail' product.slug %}">
                    {{product.name|truncatechars:20}}
                </a>
            </h5>
            <p class="card-text">
                <span class="text-primary fw-bold">₹{{product.sprice}}</span>
                <small class="text-decoration-line-through">
                    ₹{{product.oprice}}
                </small>
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary">View</a>
            <a href="#" class="btn btn-outline-primary">Add to Cart</a>
        </div>
    </div>
</div>